config VIDEO_EYS3D
	tristate "eYs3D Camera Sensor Driver Support"
	depends on VIDEO_V4L2 && I2C
	select MEDIA_CONTROLLER
	select VIDEO_V4L2_SUBDEV_API
	help
	  Support for the eYs3D Camera Sensor Driver.

	  To compile this driver as a module, choose M here: the
	  module will be called eys3d
