config VIDEO_SP_MIPICSI_RX
	tristate "Sunplus MIPI/CSI-RX Driver"
	select VIDEO_V4L2
	select VIDEOBUF_GEN
	select VIDEOBUF_DMA_CONTIG
	default n
	---help---
	  Sunplus MIPI/CSI-RX driver supports for Sunplus SP-7021 based boards.
