menuconfig SUNPLUS_VIDEO_SENSOR_SUPPORT
	bool "Sunplus Video Sensor Support"
	help
	  Enable video sensor support.
	  If you have such devices, say Y.

if SUNPLUS_VIDEO_SENSOR_SUPPORT

config VIDEO_SENSOR_GC0310
	tristate "Video Sensor (GC0310) Driver"
	depends on SOC_SP7021 && MIPICSI_RX_SUNPLUS_SP7021
	default n
	help
	  Supports video sensor GC0310.

config VIDEO_SENSOR_IMX219
	tristate "Video Sensor (IMX219) Driver"
	depends on SOC_SP7021 && MIPICSI_RX_SUNPLUS_SP7021
	default n
	help
	  Supports video sensor IMX219.

config VIDEO_SENSOR_VEYE290
	tristate "Video Sensor (VEYE290) Driver"
	depends on SOC_SP7021 && MIPICSI_RX_SUNPLUS_SP7021
	default n
	help
	  Supports video sensor VEYE290.

config VIDEO_SENSOR_OV5647
	tristate "Video Sensor (OV5647) Driver"
	depends on SOC_SP7021 && MIPICSI_RX_SUNPLUS_SP7021
	default n
	help
	  Supports video sensor OV5647.

config VIDEO_SENSOR_OV9281
	depends on SOC_SP7021 && MIPICSI_RX_SUNPLUS_SP7021
	tristate "Video Sensor (OV9281) Driver"
	default n
	help
	  Supports video sensor OV9281.

config VIDEO_SENSOR_OV9281_ISP
	tristate "Video Sensor (OV9281_ISP) Driver"
	depends on SOC_SP7021 && MIPICSI_RX_SUNPLUS_SP7021
	default n
	help
	  Supports SunplusIT 3D Eye-tracker (video sensor OV9281 + ISP) board.
	  This driver does not support auto sensor detection.
	  It will be loaded in unconditionally when it is enabled.
	  Please disable other video sensor drivers.

endif
