# SPDX-License-Identifier: GPL-2.0
#
# Sunplus MIPI/CSI RX driver configuration
#

config MIPICSI_RX_SUNPLUS_SP7021
	tristate "Sunplus SP7021 MIPI/CSI-RX driver"
	depends on SOC_SP7021 && VIDEO_DEV && VIDEO_V4L2
	select VIDEOBUF2_DMA_CONTIG
	select VIDEOBUF2_VMALLOC
	default n
	help
	  This driver supports the MIPI/CSI-RX device on the
	  Sunplus SP7021 SoC. If you have the device, say Y.
	  To compile this driver as a module, choose M here.
	  The module will be called sp-mipi-sp7021.

config MIPICSI_RX_SUNPLUS_SP7021_NEW
	tristate "Sunplus SP7021 new MIPI/CSI-RX driver"
	depends on SOC_SP7021 && VIDEO_DEV && VIDEO_V4L2
	select VIDEOBUF2_DMA_CONTIG
	select VIDEOBUF2_VMALLOC
	select V4L2_FWNODE
	default n
	help
	  This driver supports the MIPI/CSI-RX device on the
	  Sunplus SP7021 SoC. If you have the device, say Y.
	  To compile this driver as a module, choose M here.
	  The module will be called sp-mipi-sp7021.

config MIPICSI_RX_SUNPLUS_Q645
	tristate "Sunplus Q645 MIPI/CSI-RX driver"
	depends on SOC_Q645 && VIDEO_DEV && VIDEO_V4L2
	select VIDEOBUF2_DMA_CONTIG
	select VIDEOBUF2_VMALLOC
	default n
	help
	  This driver supports the MIPI/CSI-RX device on the
	  Sunplus Q645 SoC. If you have the device, say Y.
	  To compile this driver as a module, choose M here.
	  The module will be called sp-mipi-q645.
