#
# AXI Monitor subsystem configuration
#

menu "Sunplus AXI Monitor"

config SUNPLUS_AXI_MONITOR
	tristate "Sunplus AXI monitor support"
	default n
	help
	  Sunplus breakpoint analysis of backbone-dram problem.
	  In order to speed up the breakpoint analysis of the
	  BackBone-Dram proble. Quickly locate which Master/Slave
	  caused the system to crash.

#source "drivers/soc/iop/qtest/Kconfig"
endmenu
