if ARCH_PENTAGRAM

config SOC_SP7021
	bool "Sunplus SP7021 SoC support"
	default y
	select CPU_V7
	select ARM_GIC
	select SUNPLUS_SP7021_INTC
	select HAVE_SMP
	select ARM_PSCI
	select COMMON_CLK_SP7021
	select CLKSRC_SP_TIMER
	select PINCTRL
	select PINCTRL_SPPCTL
	select OF_OVERLAY
	select GPIOLIB
	help
	  Support for Sunplus SP7021 SoC. It is based on ARM 4-core
	  Cotex-A7 with various peripherals (ex: I2C, SPI, SDIO,
	  Ethernet and etc.), FPGA interface,  chip-to-chip bus.
	  It is designed for industrial control.

menu "Sunplus SP7021 SoC options"

config SP_PARTIAL_CLKEN
	bool "Use partial clken to save power"
	default y
	help
	  Only enable partial clken in moon settings to save power.
	  Device drivers should enable their own clken bit during
	  driver init or driver probe.
	  It is enabled by default.

config SP_MON
	bool "Sunplus MON (SysRq: a)"
	select MAGIC_SYSRQ
	help
	  Enable Sunplus MON shell in SysRq.
	  Sunplus MON (Monitor) shell offers a simple command-line
	  with 5 commands: lreg/wreg/lw/sw/task.
	  lreg/wreg: read/write reg groups
	  lw/sw: read/write memory
	  task: dump kernel task info

endmenu

endif
