// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2018-2019 Sunplus */

/dts-v1/;

#define CONFIG_SOC_Q645

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/clock/sp-q645.h>
#include <dt-bindings/reset/sp-q645.h>
#include <dt-bindings/pinctrl/sppctl-q645.h>

//#define ENABLE_DMARX0
//#define ENABLE_DMARX1
//#define ENABLE_DMARX2
//#define ENABLE_DMARX3

//#define ENABLE_DMATX0
//#define ENABLE_DMATX1
//#define ENABLE_DMATX2
//#define ENABLE_DMATX3

/ {
	model = "Sunplus Q645";
	compatible = "sunplus,sp-q645";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
#ifdef ENABLE_DMARX0
		serial10 = &uartdmarx0;
#endif
#ifdef ENABLE_DMARX1
		serial11 = &uartdmarx1;
#endif
#ifdef ENABLE_DMARX2
		serial12 = &uartdmarx2;
#endif
#ifdef ENABLE_DMARX3
		serial13 = &uartdmarx3;
#endif
#ifdef ENABLE_DMATX0
		serial20 = &uartdmatx0;
#endif
#ifdef ENABLE_DMATX1
		serial21 = &uartdmatx1;
#endif
#ifdef ENABLE_DMATX2
		serial22 = &uartdmatx2;
#endif
#ifdef ENABLE_DMATX3
		serial23 = &uartdmatx3;
#endif
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		serial5 = &uadbg;

		spi0 = &sp_spinor0;
	};

	chosen {
		bootargs = "console=ttyS0,921600 earlycon loglevel=8";
		stdout-path = "serial0:921600n8";
	};

	memory@0x0 {
		device_type = "memory";
		reg = <0x00 0x00 0x00 0x40000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		sec_region1 {
			reg = <0x00 0x00 0x00 0x100000>;
		};
		
		iop_reserve: iop_device {
			no-map;
			reg = <0x0 0x00100000 0x0 0x00100000>;//SP_IOP_RESERVE_BASE SP_IOP_RESERVE_SIZE
		};

		sec_region2 {
			reg = <0x00 0x200000 0x00 0x200000>;
		};

		video_codec_reserve: vcodec {
			no-map;
			reg = <0x00 0x10000000 0x00 0x08000000>;
		};
		
		/* 'ethosn_reserved' must be page aligned (page size = 0x1000) */
		ethosn_reserved: ethosn_reserved@20000000 {
			compatible = "shared-dma-pool";
			reg = <0 0x20000000 0 0x20000000>;
			dma-ranges = <0x0 0x0 0x0 0x0 0x1000 0x0>;
			no-map;
		};		
	};

	clocks {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		extclk: clk@osc0 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <XTAL>;
			clock-output-names = "extclk";
		};

		clkc: clkc@0xf8000004 {
			#clock-cells = <1>;
			compatible = "sunplus,q645-clkc";
			reg = <0x00 0xf8000004 0x00 0x28>, // G0.1 ~ G0.10
			      <0x00 0xf8000200 0x00 0x80>; // G4
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0000>;
			enable-method = "spin-table";
			cpu-release-addr = <0x00 0xfa23fbf0>;
			next-level-cache = <&L2_0>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0100>;
			enable-method = "spin-table";
			cpu-release-addr = <0x00 0xfa23fbe8>;
			next-level-cache = <&L2_1>;
		};

		cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0200>;
			enable-method = "spin-table";
			cpu-release-addr = <0x00 0xfa23fbe0>;
			next-level-cache = <&L2_2>;
		};

		cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0300>;
			enable-method = "spin-table";
			cpu-release-addr = <0x00 0xfa23fbd8>;
			next-level-cache = <&L2_3>;
		};

		L2_0: l2-cache-0 {
			compatible = "cache";
			cache-level = <2>;
			next-level-cache = <&L3>;
		};

		L2_1: l2-cache-1 {
			compatible = "cache";
			cache-level = <2>;
			next-level-cache = <&L3>;
		};

		L2_2: l2-cache-2 {
			compatible = "cache";
			cache-level = <2>;
			next-level-cache = <&L3>;
		};

		L2_3: l2-cache-3 {
			compatible = "cache";
			cache-level = <2>;
			next-level-cache = <&L3>;
		};

		L3: l3-cache {
			compatible = "cache";
			cache-level = <3>;
		};
	};

	gic: interrupt-controller@0xfa001000 {
		compatible = "arm,gic-400";
		#interrupt-cells = <3>;
		interrupt-controller;
		reg = <0x00 0xfa001000 0x00 0x1000>,
		      <0x00 0xfa002000 0x00 0x2000>,
		      <0x00 0xfa004000 0x00 0x2000>,
		      <0x00 0xfa006000 0x00 0x2000>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <&gic>;
		clock-frequency = <XTAL>;
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_RAW(15) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_RAW(15) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_RAW(15) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_RAW(15) | IRQ_TYPE_LEVEL_LOW)>;
	};

	rstc: reset@0xf8000054 {
		compatible = "sunplus,q645-reset";
		#reset-cells = <1>;
		reg = <0x00 0xf8000054 0x00 0x28>;
		reg-names = "reset";
	};

#ifdef ENABLE_DMARX0
		/* DMA Rx for UARTx */
		uartdmarx0: serial@sp_uartdmarx0 {
			compatible = "sunplus,q645-uart",
					"sunplus,sp7021-uart";
			reg = <0x00 0xf8008980 0x00 0x40>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 71 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkc UADMA01>;
			clock-names = "UADMA01";
			resets = <&rstc RST_UADMA01>;
			which-uart = <0>;
		};
#endif
#ifdef ENABLE_DMARX1
		uartdmarx1: serial@sp_uartdmarx1 {
			compatible = "sunplus,q645-uart",
					"sunplus,sp7021-uart";
			reg = <0x00 0xf80089c0 0x00 0x40>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkc UADMA01>;
			clock-names = "UADMA01";
			resets = <&rstc RST_UADMA01>;
			which-uart = <1>;
		};
#endif
#ifdef ENABLE_DMARX2
		uartdmarx2: serial@sp_uartdmarx2 {
			compatible = "sunplus,q645-uart",
					"sunplus,sp7021-uart";
			reg = <0x00 0xf8008700 0x00 0x40>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 160 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkc UADMA23>;
			clock-names = "UADMA23";
			resets = <&rstc RST_UADMA23>;
			which-uart = <2>;
		};
#endif
#ifdef ENABLE_DMARX3
		uartdmarx3: serial@sp_uartdmarx3 {
			compatible = "sunplus,q645-uart",
					"sunplus,sp7021-uart";
			reg = <0x00 0xf8008740 0x00 0x40>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 161 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkc UADMA23>;
			clock-names = "UADMA23";
			resets = <&rstc RST_UADMA23>;
			which-uart = <3>;
		};
#endif

#ifdef ENABLE_DMATX0
		/* DMA Tx for UARTx */
		uartdmatx0: serial@sp_uartdmatx0 {
			compatible = "sunplus,q645-uart",
					"sunplus,sp7021-uart";
			reg = <0x00 0xf8008a00 0x00 0x40>, <0x00 0xf8008880 0x00 0x80>;
			clocks = <&clkc GDMAUA>;
			clock-names = "GDMAUA";
			resets = <&rstc RST_GDMAUA>;
			which-uart = <0>;
		};
#endif
#ifdef ENABLE_DMATX1
		uartdmatx1: serial@sp_uartdmatx1 {
			compatible = "sunplus,q645-uart",
					"sunplus,sp7021-uart";
			reg = <0x00 0xf8008a40 0x00 0x40>, <0x00 0xf8008900 0x00 0x80>;
			clocks = <&clkc GDMAUA>;
			clock-names = "GDMAUA";
			resets = <&rstc RST_GDMAUA>;
			which-uart = <1>;
		};
#endif
#ifdef ENABLE_DMATX2
		uartdmatx2: serial@sp_uartdmatx2 {
			compatible = "sunplus,q645-uart",
					"sunplus,sp7021-uart";
			reg = <0x00 0xf8008b80 0x00 0x40>, <0x00 0xf8008a80 0x00 0x80>;
			clocks = <&clkc GDMAUA>;
			clock-names = "GDMAUA";
			resets = <&rstc RST_GDMAUA>;
			which-uart = <2>;
		};
#endif
#ifdef ENABLE_DMATX3
		uartdmatx3: serial@sp_uartdmatx3 {
			compatible = "sunplus,q645-uart",
					"sunplus,sp7021-uart";
			reg = <0x00 0xf8008bc0 0x00 0x40>, <0x00 0xf8008b00 0x00 0x80>;
			clocks = <&clkc GDMAUA>;
			clock-names = "GDMAUA";
			resets = <&rstc RST_GDMAUA>;
			which-uart = <3>;
		};
#endif

	uart0: serial@0xf8000900 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf8000900 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 71 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UA0>;
		resets = <&rstc RST_UA0>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart0_pins>;
	};

	uart1: serial@0xf8000980 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf8000980 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 71 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UA1>;
		resets = <&rstc RST_UA1>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart1_pins>;
		status = "disabled";
	};

	uart2: serial@0xf8000800 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf8000800 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 157 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 160 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 161 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UA2>;
		resets = <&rstc RST_UA2>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart2_pins>;
		status = "disabled";
	};

	uart3: serial@0xf8004380 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf8004380 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 158 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 160 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 161 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UA3>;
		resets = <&rstc RST_UA3>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart3_pins>;
		status = "disabled";
	};

	uart4: serial@0xf8000880 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf8000880 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 159 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UA4>;
		resets = <&rstc RST_UA4>;
		//pinctrl-names = "default";
		//pinctrl-0 = <&uart4_pins>;
		status = "disabled";
	};

	uadbg: serial@0xf800f900 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf800f900 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 35 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UADBG>;
		resets = <&rstc RST_UADBG>;
		//pinctrl-names = "default";
		//pinctrl-0 = <&uadbg_pins>;
		status = "disabled";
	};

	rtc: rtc@0xf8003a00 {
		compatible = "sunplus,q645-rtc";
		reg = <0x0 0xf8003a00 0x0 0x14>;
		reg-names = "rtc_reg";
		clocks = <&clkc RTC>;
		resets = <&rstc RST_RTC>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 141 IRQ_TYPE_EDGE_RISING>;
	};

	sp_spinor0: spinor@0xf8000b00 {
		compatible = "sunplus,q645-spi-nor";
		reg = <0x0 0xf8000b00 0x0 0x80>, <0x0 0xf8000080 0x0 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc SPIFL>;
		resets = <&rstc RST_SPIFL>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi_nor_pins>;
		spi-max-frequency = <50000000>;
		spi-chip-selection = <0>;
		read-timing-selection = <0>;
		write-timing-selection = <0>;
	};

	spinand0: spinand@0xf8002b80 {
		compatible = "sunplus,q645-spi-nand";
		reg = <0x0 0xf8002b80 0x0 0x60>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 23 IRQ_TYPE_LEVEL_HIGH>;
		linux,part-probe = "ofpart", "sunplus_part";
		clocks = <&clkc SPIND>;
		resets = <&rstc RST_SPIND>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi_nand_pins>;
	};

	otp0: otp@0xf800af00 {
		compatible = "sunplus,q645-ocotp0";
		reg = <0x00 0xf800af00 0x00 0x34>, <0x00 0xf800af80 0x00 0x58>;
		reg-names = "hb_gpio", "otprx";
		clocks = <&clkc OTPRX>;
		resets = <&rstc RST_OTPRX>;
		#address-cells = <1>;
		#size-cells = <1>;
		therm_calib: therm_calib {
			reg = <0x14 0x3>;
		};
		mac_addr0: mac_addr0 {
			reg = <0x34 0x6>;
		};
		mac_addr1: mac_addr1 {
			reg = <0x3A 0x6>;
		};
		disc_vol0: disc_vol0 {
			reg = <0x18 0x2>;
		};
		disc_vol1: disc_vol1 {
			reg = <0x18 0x2>;
		};
	};

	otp1: otp@0xf8018580 {
		compatible = "sunplus,q645-ocotp1";
		reg = <0x00 0xf8018580 0x00 0x34>, <0x00 0xf8018600 0x00 0x58>;
		reg-names = "hb_gpio", "otprx";
		clocks = <&clkc OTPRX>;
		resets = <&rstc RST_OTPRX>;
	};

	otp2: otp@0xf8002780 {
		compatible = "sunplus,q645-ocotp2";
		reg = <0x00 0xf8002780 0x00 0x34>, <0x00 0xf8002800 0x00 0x58>;
		reg-names = "hb_gpio", "otprx";
		clocks = <&clkc OTPRX>;
		resets = <&rstc RST_OTPRX>;
	};

	bch0: bch@0xf8101000 {
		compatible = "sunplus,q645-bch";
		reg = <0x0 0xf8101000 0x0 0x30>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 24 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc BCH>;
		resets = <&rstc RST_BCH>;
	};

	malig31: malig31@0xf8170000 {
//		compatible = "arm,mali-midgard";
		reg = <0x00 0xf8170000 0x00 0x4000>;
		interrupt-parent = <&gic>;
		interrupts =
			     <GIC_SPI 170 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 171 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 172 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "JOB", "MMU", "GPU";
		clocks = <&clkc GPU>;
		clock-names = "clk_mali";
		resets = <&rstc RST_GPU>;
	};

/* secure
		interrupts = <GIC_SPI 177 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 173 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 174 IRQ_TYPE_LEVEL_HIGH>;
   non-secure
		interrupts = <GIC_SPI 178 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 175 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 176 IRQ_TYPE_LEVEL_HIGH>;
*/
	ethosn: ethosn@0xf8200000 {
		compatible = "ethosn";
		reg = <0x00 0xf8200000 0x00 0x100000>;
		memory-region = <&ethosn_reserved>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 177 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 173 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 174 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "err", "job", "debug";		 
		clocks = <&clkc N78>;
		clock-names = "clk_n78";
		resets = <&rstc RST_N78>;	
		core0 {
			compatible = "ethosn-core";
			status = "okay";
		};			
	};

	mmc0: mmc@0xf8003b00 {
		compatible = "sunplus,q645-emmc";
		reg = <0x0 0xf8003b00 0x0 0x180>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 17 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc CARD_CTL0>;
		resets = <&rstc RST_CARD_CTL0>;
		pinctrl-names = "default";
		pinctrl-0 = <&emmc_pins>;
		bus-width = <8>;
		max-frequency = <45000000>;
		non-removable;
		disable-wp;
		cap-mmc-highspeed;
		mmc-ddr-3_3v;
		no-sdio;
		no-sd;
	};

	iop: iop@0xf8000400 {
		compatible = "sunplus,q645-iop";
		reg = <0x0 0xf8000400 0x0 0x80>, <0x0 0xf8000000 0x0 0x80>, <0x0 0xf8000F00 0x0 0x80>, <0x0 0xf8003100 0x0 0x80>, <0x0 0xf8012B80 0x0 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>, <GIC_SPI 59 IRQ_TYPE_LEVEL_HIGH>;
		reg-names = "iop", "iop_moon0", "iop_qctl", "iop_pmc", "axi_mon";
		memory-region = <&iop_reserve>;
	};


	mmc1: mmc@0xf8003e80 {
		compatible = "sunplus,q645-card";
		reg = <0x0 0xf8003e80 0x0 0x180>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc CARD_CTL1>;
		resets = <&rstc RST_CARD_CTL1>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdcard_pins>;
		cd-gpios = <&pctl 62 GPIO_ACTIVE_LOW>;
		bus-width = <4>;
		max-frequency = <52000000>;
		disable-wp;
		cap-sd-highspeed;
		no-sdio;
		no-mmc;
	};

	sdio: sdio@0xf8008400 {
		compatible = "sunplus,q645-sdio";
		reg = < 0x0 0xf8008400 0x0 0x180>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc CARD_CTL2>;
		resets = <&rstc RST_CARD_CTL2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdio_pins>;
		bus-width = <4>;
		max-frequency = <52000000>;
		non-removable;
		disable-wp;
		cap-sd-highspeed;
		cap-sdio-irq;
		no-sd;
		no-mmc;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";
	};

	ehci0: usb@0xf8102100 {
		compatible = "sunplus,q645-usb-ehci0";
		clocks = <&clkc USBC0>;
		resets = <&rstc RST_USBC0>;
		reg = <0x00 0xf8102100 0x00 0x68>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 183 IRQ_TYPE_LEVEL_HIGH>;
	};

	ohci0: usb@0xf8102080 {
		compatible = "sunplus,q645-usb-ohci0";
		clocks = <&clkc USBC0>;
		resets = <&rstc RST_USBC0>;
		reg = <0x00 0xf8102080 0x00 0x68>, <0x00 0xf8000000 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 184 IRQ_TYPE_LEVEL_HIGH>;
	};

	usbdrd3_0: usb@0xf80a1000{
		compatible = "sunplus,q645-dwcusb3";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		status = "disabled";

		usbdrd_dwc3_0: dwc3 {
			compatible = "synopsys,dwc3";
			reg = <0x0 0xf80a1000 0x0 0xe000>;
			clocks = <&clkc USB30C0>, <&clkc USB30C0>, <&clkc USB30C0>;
			clock-names = "ref","bus_early","suspend";
			resets = <&rstc RST_USB30C0>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 180 IRQ_TYPE_LEVEL_HIGH>;
			maximum-speed = "super-speed";
			dr_mode = "host";
			snps,dis_u2_susphy_quirk;
			//phy_type = "utmi_wide";
			status = "disabled";
		};
	};

	u3phy0: uphy@0xf80bd000 {
		compatible = "sunplus,q645-usb3-phy";
		clocks = <&clkc U3PHY0>;
		clock-names = "clkc_u3phy";
		resets = <&rstc RST_U3PHY0>;
		reset-names = "rstc_u3phy";
		reg = <0x0 0xf80bd000 0x0 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 191 IRQ_TYPE_LEVEL_HIGH>;
		status = "disabled";
	};

	usbdrd3_1: usb@0xf80af000 {
		compatible = "sunplus,q645-dwcusb3";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		status = "disabled";

		usbdrd_dwc3_1: dwc3 {
			compatible = "synopsys,dwc3";
			reg = <0x0 0xf80af000 0x0 0xe000>;
			clocks = <&clkc USB30C1>, <&clkc USB30C1>, <&clkc USB30C1>;
			clock-names = "ref","bus_early","suspend";
			resets = <&rstc RST_USB30C1>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 179 IRQ_TYPE_LEVEL_HIGH>;
			maximum-speed = "super-speed";
			dr_mode = "host";
			snps,dis_u2_susphy_quirk;
			//phy_type = "utmi_wide";
			status = "disabled";
		};
	};

	u3phy1: uphy@0xf80be000 {
		compatible = "sunplus,q645-usb3-phy";
		clocks = <&clkc U3PHY1>;
		clock-names = "clkc_u3phy";
		resets = <&rstc RST_U3PHY1>;
		reset-names = "rstc_u3phy";
		reg = <0x0 0xf80be000 0x0 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 192 IRQ_TYPE_LEVEL_HIGH>;
		status = "disabled";
	};

	pctl: pctl@0xf8000100 {
		compatible = "sunplus,q645-pctl";
		reg = <0x0 0xf8000100 0x0 0x100>,
		      <0x0 0xf8000300 0x0 0x80>,
		      <0x0 0xf8000380 0x0 0x80>,
		      <0x0 0xf80032e4 0x0 0x1c>,
		      <0x0 0xf8000080 0x0 0x20>;
		gpio-controller;
		#gpio-cells = <2>;

		uart0_pins: pinmux_uart0_pins {
			sppctl,function = "UART0";
			sppctl,groups = "UART0";
		};

		uart1_pins: pinmux_uart1_pins {
			sppctl,function = "UART1";
			sppctl,groups = "UART1";
		};

		uart2_pins: pinmux_uart2_pins {
			sppctl,function = "UART2";
			sppctl,groups = "UART2";
		};

		uart3_pins: pinmux_uart3_pins {
			sppctl,function = "UART3";
			sppctl,groups = "UART3";
		};

		#if 0 //TBD
		uart4_pins: pinmux_uart4_pins {
			sppctl,function = "UART4";
			sppctl,groups = "UART4";
		};

		uadbg_pins: pinmux_uadbg_pins {
			sppctl,function = "UADBG";
			sppctl,groups = "UADBG";
		};
		#endif

		emmc_pins: pinmux_emmc_pins {
			sppctl,function = "CARD0_EMMC";
			sppctl,groups = "CARD0_EMMC";
		};

		sdcard_pins: pinmux_sdcard_pins {
			sppctl,function = "SD_CARD";
			sppctl,groups = "SD_CARD";
			sppctl,pins = <SPPCTL_IOPAD(62,SPPCTL_PCTL_G_GPIO,0,0) >;
		};

		sdio_pins: pinmux_sdio_pins {
			sppctl,function = "SDIO";
			sppctl,groups = "SDIO";
		};

		spi_nor_pins: pinmux_spi_nor_pins {
			sppctl,function = "SPI_FLASH";
			sppctl,groups = "SPI_FLASH1";
		};

		spi_nand_pins: pinmux_spi_nand_pins {
			sppctl,function = "SPI_NAND";
			sppctl,groups = "SPI_NAND1";
		};
	};
	video_codec_dec: hantro_vc8000d@0xf8168000 {
		compatible = "sunplus,q645-hantro-vc8000d";
		reg = <0x00 0xf8168000 0x00 0xfff>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 167 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc VCD>;
		clock-names = "clk_vc8000d";
		resets = <&rstc RST_VCD>;
	};

	video_codec_enc: hantro_vc8000e@0xf80ff000 {
		compatible = "sunplus,q645-hantro-vc8000e";
		reg = <0x00 0xf80ff000 0x00 0xfff>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 77 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc VCE>;
		clock-names = "clk_vc8000e";
		resets = <&rstc RST_VCE>;
	};

	video_codec_emem {
		compatible = "sunplus,q645-hantro-emem";
		memory-region = <&video_codec_reserve>;
	};
};
