// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2018-2019 Sunplus */

/dts-v1/;

#define CONFIG_SOC_Q645

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/clock/sp-q645.h>
#include <dt-bindings/reset/sp-q645.h>
#include <dt-bindings/pinctrl/sppctl-q645.h>

#include "sp_remoteproc.dtsi"

//#define ENABLE_DMARX0
//#define ENABLE_DMARX1
//#define ENABLE_DMARX2
//#define ENABLE_DMARX3

//#define ENABLE_DMATX0
//#define ENABLE_DMATX1
//#define ENABLE_DMATX2
//#define ENABLE_DMATX3

/ {
	model = "Sunplus Q645";
	compatible = "sunplus,sp-q645";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
#ifdef ENABLE_DMARX0
		serial10 = &uartdmarx0;
#endif
#ifdef ENABLE_DMARX1
		serial11 = &uartdmarx1;
#endif
#ifdef ENABLE_DMARX2
		serial12 = &uartdmarx2;
#endif
#ifdef ENABLE_DMARX3
		serial13 = &uartdmarx3;
#endif
#ifdef ENABLE_DMATX0
		serial20 = &uartdmatx0;
#endif
#ifdef ENABLE_DMATX1
		serial21 = &uartdmatx1;
#endif
#ifdef ENABLE_DMATX2
		serial22 = &uartdmatx2;
#endif
#ifdef ENABLE_DMATX3
		serial23 = &uartdmatx3;
#endif
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		serial5 = &uadbg;
		serial6 = &uart6;
		serial7 = &uart7;
		serial8 = &uart8;

		i2c0 = &i2cm0;
		i2c1 = &i2cm1;
		i2c2 = &i2cm2;
		i2c3 = &i2cm3;
		i2c4 = &i2cm4;
		i2c5 = &i2cm5;

		sp_spi0 = &spi_controller0;
		sp_spi1 = &spi_controller1;
		sp_spi2 = &spi_controller2;
		sp_spi3 = &spi_controller3;
		sp_spi4 = &spi_controller4;
		sp_spi5 = &spi_controller5;

		spi0 = &sp_spinor0;
	};

	chosen {
		bootargs = "console=ttyS0,921600 earlycon loglevel=8";
		stdout-path = "serial0:921600n8";
	};

	memory@0x0 {
		device_type = "memory";
		reg = <0x00 0x00 0x00 0x80000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		sec_region1 {
			reg = <0x00 0x00 0x00 0x100000>;
		};

		iop_reserve: iop_device {
			no-map;
			reg = <0x0 0x00100000 0x0 0x00100000>;//SP_IOP_RESERVE_BASE SP_IOP_RESERVE_SIZE
		};

//		sec_region2 {
//			reg = <0x00 0x200000 0x00 0x200000>;
//		};
		fb_reserve:fb {
			no-map;
			reg = <0x0 0x200000 0x0 0x00200000>;//size 16M 400000
		};
//		fb_reserve:fb {
//			no-map;
//			reg = <0x0 0x3c000000 0x0 0x01000000>;//size 16M 3c000000
//		};
		video_codec_reserve: vcodec {
			no-map;
			reg = <0x00 0x10000000 0x00 0x08000000>;
		};

		/* 'ethosn_reserved' must be page aligned (page size = 0x1000) */
		ethosn_reserved: ethosn_reserved@60000000 {
			compatible = "shared-dma-pool";
			reg = <0 0x60000000 0 0x20000000>;
			dma-ranges = <0x0 0x0 0x0 0x0 0x1000 0x0>;
			no-map;
		};
	};

	clocks {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		extclk: clk@osc0 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <XTAL>;
			clock-output-names = "extclk";
		};

		rtcclk: rtcclk {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <32000>;
			clock-output-names = "f_32k";
		};

		mipiclk: mipiclk {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <320000000>;
			clock-output-names = "f_320m";
		};

		clkc: clkc@0xf8000004 {
			#clock-cells = <1>;
			compatible = "sunplus,q645-clkc";
			reg = <0x00 0xf8000000 0x00 0x280>, // MOON G0 ~ G4
			      <0x00 0xf8005280 0x00 0x400>; // MIPI G165 ~ G172
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0000>;
			enable-method = "spin-table";
			cpu-release-addr = <0x00 0xfa23fbf0>;
			next-level-cache = <&L2_0>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0100>;
			enable-method = "spin-table";
			cpu-release-addr = <0x00 0xfa23fbe8>;
			next-level-cache = <&L2_1>;
		};

		cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0200>;
			enable-method = "spin-table";
			cpu-release-addr = <0x00 0xfa23fbe0>;
			next-level-cache = <&L2_2>;
		};

		cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0300>;
			enable-method = "spin-table";
			cpu-release-addr = <0x00 0xfa23fbd8>;
			next-level-cache = <&L2_3>;
		};

		L2_0: l2-cache-0 {
			compatible = "cache";
			cache-level = <2>;
			next-level-cache = <&L3>;
		};

		L2_1: l2-cache-1 {
			compatible = "cache";
			cache-level = <2>;
			next-level-cache = <&L3>;
		};

		L2_2: l2-cache-2 {
			compatible = "cache";
			cache-level = <2>;
			next-level-cache = <&L3>;
		};

		L2_3: l2-cache-3 {
			compatible = "cache";
			cache-level = <2>;
			next-level-cache = <&L3>;
		};

		L3: l3-cache {
			compatible = "cache";
			cache-level = <3>;
		};
	};

	gic: interrupt-controller@0xfa001000 {
		compatible = "arm,gic-400";
		#interrupt-cells = <3>;
		interrupt-controller;
		reg = <0x00 0xfa001000 0x00 0x1000>,
		      <0x00 0xfa002000 0x00 0x2000>,
		      <0x00 0xfa004000 0x00 0x2000>,
		      <0x00 0xfa006000 0x00 0x2000>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <&gic>;
		clock-frequency = <XTAL>;
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_RAW(15) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_RAW(15) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_RAW(15) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_RAW(15) | IRQ_TYPE_LEVEL_LOW)>;
	};

	rstc: reset@0xf8000054 {
		compatible = "sunplus,q645-reset";
		#reset-cells = <1>;
		reg = <0x00 0xf8000054 0x00 0x28>;
		reg-names = "reset";
	};

#ifdef ENABLE_DMARX0
		/* DMA Rx for UARTx */
		uartdmarx0: serial@sp_uartdmarx0 {
			compatible = "sunplus,q645-uart";
			reg = <0x00 0xf8008980 0x00 0x40>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 71 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkc UADMA01>;
			clock-names = "UADMA01";
			resets = <&rstc RST_UADMA01>;
			which-uart = <0>;
		};
#endif
#ifdef ENABLE_DMARX1
		uartdmarx1: serial@sp_uartdmarx1 {
			compatible = "sunplus,q645-uart";
			reg = <0x00 0xf80089c0 0x00 0x40>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkc UADMA01>;
			clock-names = "UADMA01";
			resets = <&rstc RST_UADMA01>;
			which-uart = <1>;
		};
#endif
#ifdef ENABLE_DMARX2
		uartdmarx2: serial@sp_uartdmarx2 {
			compatible = "sunplus,q645-uart";
			reg = <0x00 0xf8008700 0x00 0x40>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 160 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkc UADMA23>;
			clock-names = "UADMA23";
			resets = <&rstc RST_UADMA23>;
			which-uart = <2>;
		};
#endif
#ifdef ENABLE_DMARX3
		uartdmarx3: serial@sp_uartdmarx3 {
			compatible = "sunplus,q645-uart";
			reg = <0x00 0xf8008740 0x00 0x40>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 161 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkc UADMA23>;
			clock-names = "UADMA23";
			resets = <&rstc RST_UADMA23>;
			which-uart = <3>;
		};
#endif

#ifdef ENABLE_DMATX0
		/* DMA Tx for UARTx */
		uartdmatx0: serial@sp_uartdmatx0 {
			compatible = "sunplus,q645-uart";
			reg = <0x00 0xf8008a00 0x00 0x40>, <0x00 0xf8008880 0x00 0x80>;
			clocks = <&clkc GDMAUA>;
			clock-names = "GDMAUA";
			resets = <&rstc RST_GDMAUA>;
			which-uart = <0>;
		};
#endif
#ifdef ENABLE_DMATX1
		uartdmatx1: serial@sp_uartdmatx1 {
			compatible = "sunplus,q645-uart";
			reg = <0x00 0xf8008a40 0x00 0x40>, <0x00 0xf8008900 0x00 0x80>;
			clocks = <&clkc GDMAUA>;
			clock-names = "GDMAUA";
			resets = <&rstc RST_GDMAUA>;
			which-uart = <1>;
		};
#endif
#ifdef ENABLE_DMATX2
		uartdmatx2: serial@sp_uartdmatx2 {
			compatible = "sunplus,q645-uart";
			reg = <0x00 0xf8008b80 0x00 0x40>, <0x00 0xf8008a80 0x00 0x80>;
			clocks = <&clkc GDMAUA>;
			clock-names = "GDMAUA";
			resets = <&rstc RST_GDMAUA>;
			which-uart = <2>;
		};
#endif
#ifdef ENABLE_DMATX3
		uartdmatx3: serial@sp_uartdmatx3 {
			compatible = "sunplus,q645-uart";
			reg = <0x00 0xf8008bc0 0x00 0x40>, <0x00 0xf8008b00 0x00 0x80>;
			clocks = <&clkc GDMAUA>;
			clock-names = "GDMAUA";
			resets = <&rstc RST_GDMAUA>;
			which-uart = <3>;
		};
#endif

	uart0: serial@0xf8000900 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf8000900 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 71 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UA0>;
		resets = <&rstc RST_UA0>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart0_pins>;
	};

	uart1: serial@0xf8000980 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf8000980 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 71 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UA1>;
		resets = <&rstc RST_UA1>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart1_pins>;
		status = "disabled";
	};

	uart2: serial@0xf8000800 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf8000800 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 157 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 160 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 161 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UA2>;
		resets = <&rstc RST_UA2>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart2_pins>;
		status = "disabled";
	};

	uart3: serial@0xf8004380 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf8004380 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 158 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 160 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 161 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UA3>;
		resets = <&rstc RST_UA3>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart3_pins>;
		status = "disabled";
	};

	uart4: serial@0xf8000880 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf8000880 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 159 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UA4>;
		resets = <&rstc RST_UA4>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart4_pins>;
		status = "disabled";
	};

	uadbg: serial@0xf800f900 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf800f900 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 35 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UADBG>;
		resets = <&rstc RST_UADBG>;
		pinctrl-names = "default";
		pinctrl-0 = <&uadbg_pins>;
		status = "disabled";
	};

	uart6: serial@0xf8008280 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf8008280 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 162 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UA6>;
		resets = <&rstc RST_UA6>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart6_pins>;
		status = "disabled";
	};

	uart7: serial@0xf8008300 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf8008300 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 163 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UA7>;
		resets = <&rstc RST_UA7>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart7_pins>;
		status = "disabled";
	};

	uart8: serial@0xf8008380 {
		compatible = "sunplus,q645-uart";
		reg = <0x00 0xf8008380 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 164 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc UA8>;
		resets = <&rstc RST_UA8>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart8_pins>;
		status = "disabled";
	};

	i2cm0: i2cm@0xf8004600 {
		compatible = "sunplus,q645-i2cm";
		reg = <0x0 0xf8004600 0x0 0x80>, <0x0 0xf8004680 0x0 0x80>;
		reg-names = "i2cm", "i2cmdma";
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 8 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc I2CM0>;
		resets = <&rstc RST_I2CM0>;
		clock-frequency = <100000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2cm0_pins>;
		status = "disabled";
	};

	i2cm1: i2cm@0xf8004700 {
		compatible = "sunplus,q645-i2cm";
		reg = <0x0 0xf8004700 0x0 0x80>, <0x0 0xf8004780 0x0 0x80>;
		reg-names = "i2cm", "i2cmdma";
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 94 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc I2CM1>;
		resets = <&rstc RST_I2CM1>;
		clock-frequency = <100000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2cm1_pins>;
		status = "disabled";
	};

	i2cm2: i2cm@0xf8004800 {
		compatible = "sunplus,q645-i2cm";
		reg = <0x0 0xf8004800 0x0 0x80>, <0x0 0xf8004880 0x0 0x80>;
		reg-names = "i2cm", "i2cmdma";
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 95 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc I2CM2>;
		resets = <&rstc RST_I2CM2>;
		clock-frequency = <100000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2cm2_pins>;
		status = "disabled";
	};

	i2cm3: i2cm@0xf8004900 {
		compatible = "sunplus,q645-i2cm";
		reg = <0x0 0xf8004900 0x0 0x80>, <0x0 0xf8004980 0x0 0x80>;
		reg-names = "i2cm", "i2cmdma";
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 96 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc I2CM3>;
		resets = <&rstc RST_I2CM3>;
		clock-frequency = <100000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2cm3_pins>;
		status = "disabled";
	};

	i2cm4: i2cm@0xf800fe00 {
		compatible = "sunplus,q645-i2cm";
		reg = <0x0 0xf800fe00 0x0 0x80>, <0x0 0xf800fe80 0x0 0x80>;
		reg-names = "i2cm", "i2cmdma";
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 97 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc I2CM4>;
		resets = <&rstc RST_I2CM4>;
		clock-frequency = <100000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2cm4_pins>;
		status = "disabled";
	};

	i2cm5: i2cm@0xf800ff00 {
		compatible = "sunplus,q645-i2cm";
		reg = <0x0 0xf800ff00 0x0 0x80>, <0x0 0xf800ff80 0x0 0x80>;
		reg-names = "i2cm", "i2cmdma";
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 98 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc I2CM5>;
		resets = <&rstc RST_I2CM5>;
		clock-frequency = <100000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2cm5_pins>;
		status = "disabled";
	};

	spi_controller0: spi@0xf8002c80 {
		compatible = "sunplus,q645-spi-controller";
		reg = <0x0 0xf8002c80 0x0 0x80>, <0x0 0xf8002d00 0x0 0x80>;
		reg-names = "spi_master", "spi_slave";
		interrupt-parent = <&gic>;
		interrupt-names = "dma_w_intr",
				  "mas_risc_intr",
				  "slave_risc_intr";
		interrupts = <GIC_SPI 19 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 21 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 22 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc SPI_COMBO_0>;
		clock-names = "sys_pll";
		resets = <&rstc RST_SPI_COMBO_0>;
		spi-max-frequency = <50000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&spim0_pins>;
		status = "disabled";
	};

	spi_controller1: spi@0xf8002d80 {
		compatible = "sunplus,q645-spi-controller";
		reg = <0x0 0xf8002d80 0x0 0x80>, <0x0 0xf8002e00 0x0 0x80>;
		reg-names = "spi_master", "spi_slave";
		interrupt-parent = <&gic>;
		interrupt-names = "dma_w_intr",
				  "mas_risc_intr",
				  "slave_risc_intr";
		interrupts = <GIC_SPI 27 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 28 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 29 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc SPI_COMBO_1>;
		clock-names = "sys_pll";
		resets = <&rstc RST_SPI_COMBO_1>;
		spi-max-frequency = <50000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&spim1_pins>;
		status = "disabled";
	};

	spi_controller2: spi@0xf8002e80 {
		compatible = "sunplus,q645-spi-controller";
		reg = <0x0 0xf8002e80 0x0 0x80>, <0x0 0xf8002f00 0x0 0x80>;
		reg-names = "spi_master", "spi_slave";
		interrupt-parent = <&gic>;
		interrupt-names = "dma_w_intr",
				  "mas_risc_intr",
				  "slave_risc_intr";
		interrupts = <GIC_SPI 106 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 107 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 108 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc SPI_COMBO_2>;
		clock-names = "sys_pll";
		resets = <&rstc RST_SPI_COMBO_2>;
		spi-max-frequency = <50000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&spim2_pins>;
		status = "disabled";
	};

	spi_controller3: spi@0xf8004000 {
		compatible = "sunplus,q645-spi-controller";
		reg = <0x0 0xf8004000 0x0 0x80>, <0x0 0xf8004080 0x0 0x80>;
		reg-names = "spi_master", "spi_slave";
		interrupt-parent = <&gic>;
		interrupt-names = "dma_w_intr",
				  "mas_risc_intr",
				  "slave_risc_intr";
		interrupts = <GIC_SPI 109 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 110 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 111 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc SPI_COMBO_3>;
		clock-names = "sys_pll";
		resets = <&rstc RST_SPI_COMBO_3>;
		spi-max-frequency = <50000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&spim3_pins>;
		status = "disabled";
	};

	spi_controller4: spi@0xf8004100 {
		compatible = "sunplus,q645-spi-controller";
		reg = <0x0 0xf8004100 0x0 0x80>, <0x0 0xf8004180 0x0 0x80>;
		reg-names = "spi_master", "spi_slave";
		interrupt-parent = <&gic>;
		interrupt-names = "dma_w_intr",
				  "mas_risc_intr",
				  "slave_risc_intr";
		interrupts = <GIC_SPI 112 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 113 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 114 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc SPI_COMBO_4>;
		clock-names = "sys_pll";
		resets = <&rstc RST_SPI_COMBO_4>;
		spi-max-frequency = <50000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&spim4_pins>;
		status = "disabled";
	};

	spi_controller5: spi@0xf8004200 {
		compatible = "sunplus,q645-spi-controller";
		reg = <0x0 0xf8004200 0x0 0x80>, <0x0 0xf8004280 0x0 0x80>;
		reg-names = "spi_master", "spi_slave";
		interrupt-parent = <&gic>;
		interrupt-names = "dma_w_intr",
				  "mas_risc_intr",
				  "slave_risc_intr";
		interrupts = <GIC_SPI 115 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 116 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 117 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc SPI_COMBO_5>;
		clock-names = "sys_pll";
		resets = <&rstc RST_SPI_COMBO_5>;
		spi-max-frequency = <50000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&spim5_pins>;
		status = "disabled";
	};

	rtc: rtc@0xf8003a00 {
		compatible = "sunplus,q645-rtc";
		reg = <0x0 0xf8003a00 0x0 0x14>;
		reg-names = "rtc_reg";
		clocks = <&clkc RTC>;
		resets = <&rstc RST_RTC>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 141 IRQ_TYPE_EDGE_RISING>;
	};

	cbdma: cbdma@sp_cbdma {
		compatible = "sunplus,q645-c-cbdma";
		reg = <0x0 0xf8000d00 0x0 0x80>;
		reg-names = "cb_dma";
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 74 IRQ_TYPE_LEVEL_HIGH>;
		dma-channel-0 {
			compatible = "xlnx,axi-cdma-channel";
			interrupts = <GIC_SPI 74 IRQ_TYPE_LEVEL_HIGH>;
		};
	};

	sp_spinor0: spinor@0xf8000b00 {
		compatible = "sunplus,q645-spi-nor";
		reg = <0x0 0xf8000b00 0x0 0x80>, <0x0 0xf8000080 0x0 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc SPIFL>;
		resets = <&rstc RST_SPIFL>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi_nor_pins>;
		spi-max-frequency = <50000000>;
		spi-chip-selection = <0>;
		read-timing-selection = <0>;
		write-timing-selection = <0>;
	};

	spinand0: spinand@0xf8002b80 {
		compatible = "sunplus,q645-spi-nand";
		reg = <0x0 0xf8002b80 0x0 0x60>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 23 IRQ_TYPE_LEVEL_HIGH>;
		linux,part-probe = "ofpart", "sunplus_part";
		clocks = <&clkc SPIND>;
		resets = <&rstc RST_SPIND>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi_nand_pins>;
	};

	otp0: otp@0xf800af00 {
		compatible = "sunplus,q645-ocotp0";
		reg = <0x00 0xf800af00 0x00 0x34>, <0x00 0xf800af80 0x00 0x58>;
		reg-names = "hb_gpio", "otprx";
		clocks = <&clkc OTPRX>;
		resets = <&rstc RST_OTPRX>;
		#address-cells = <1>;
		#size-cells = <1>;
		therm_calib: therm_calib {
			reg = <0x14 0x3>;
		};
		mac_addr0: mac_addr0 {
			reg = <0x34 0x6>;
		};
		mac_addr1: mac_addr1 {
			reg = <0x3A 0x6>;
		};
		disc_vol0: disc_vol0 {
			reg = <0x18 0x2>;
		};
		disc_vol1: disc_vol1 {
			reg = <0x18 0x2>;
		};
	};

	otp1: otp@0xf8018580 {
		compatible = "sunplus,q645-ocotp1";
		reg = <0x00 0xf8018580 0x00 0x34>, <0x00 0xf8018600 0x00 0x58>;
		reg-names = "hb_gpio", "otprx";
		clocks = <&clkc OTPRX>;
		resets = <&rstc RST_OTPRX>;
	};

	otp2: otp@0xf8002780 {
		compatible = "sunplus,q645-ocotp2";
		reg = <0x00 0xf8002780 0x00 0x34>, <0x00 0xf8002800 0x00 0x58>;
		reg-names = "hb_gpio", "otprx";
		clocks = <&clkc OTPRX>;
		resets = <&rstc RST_OTPRX>;
	};

	bch0: bch@0xf8101000 {
		compatible = "sunplus,q645-bch";
		reg = <0x0 0xf8101000 0x0 0x30>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 24 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc BCH>;
		resets = <&rstc RST_BCH>;
	};

	fb_device {
		compatible = "simple-framebuffer";
		memory-region = <&fb_reserve>;
		width = <320>;      /*1280*/
		height = <240>;      /*768*/
		stride = <(320*2)>; /*1280*2*/
		format = "r5g6b5";
	};

	malig31: malig31@0xf8170000 {
		//compatible = "arm,mali-midgard";
		reg = <0x00 0xf8170000 0x00 0x4000>;
		interrupt-parent = <&gic>;
		interrupts =
			     <GIC_SPI 170 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 171 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 172 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "JOB", "MMU", "GPU";
		clocks = <&clkc GPU>;
		clock-names = "clk_mali";
		resets = <&rstc RST_GPU>;
	};

/* secure
		interrupts = <GIC_SPI 177 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 173 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 174 IRQ_TYPE_LEVEL_HIGH>;
   non-secure
		interrupts = <GIC_SPI 178 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 175 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 176 IRQ_TYPE_LEVEL_HIGH>;
*/
	ethosn: ethosn@0xf8200000 {
		compatible = "ethosn";
		reg = <0x00 0xf8200000 0x00 0x100000>;
		memory-region = <&ethosn_reserved>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 178 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 175 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 176 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "err", "job", "debug";
		clocks = <&clkc N78>;
		clock-names = "clk_n78";
		resets = <&rstc RST_N78>;
		reset-names = "rstc_n78";
		core0 {
			compatible = "ethosn-core";
			status = "okay";
		};
	};

	mmc0: mmc@0xf8003b00 {
		compatible = "sunplus,q645-emmc";
		reg = <0x0 0xf8003b00 0x0 0x180>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 17 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc CARD_CTL0>;
		resets = <&rstc RST_CARD_CTL0>;
		pinctrl-names = "default";
		pinctrl-0 = <&emmc_pins>;
		bus-width = <8>;
		max-frequency = <45000000>;
		non-removable;
		disable-wp;
		cap-mmc-highspeed;
		mmc-ddr-3_3v;
		no-sdio;
		no-sd;
	};

	iop: iop@0xf8000400 {
		compatible = "sunplus,q645-iop";
		reg = <0x0 0xf8000400 0x0 0x80>, <0x0 0xf8000000 0x0 0x80>, <0x0 0xf8000F00 0x0 0x80>, <0x0 0xf8003100 0x0 0x80>, <0x0 0xf8012B80 0x0 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>, <GIC_SPI 59 IRQ_TYPE_LEVEL_HIGH>;
		reg-names = "iop", "iop_moon0", "iop_qctl", "iop_pmc", "axi_mon";
		memory-region = <&iop_reserve>;
	};


	mmc1: mmc@0xf8003e80 {
		compatible = "sunplus,q645-card";
		reg = <0x0 0xf8003e80 0x0 0x180>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc CARD_CTL1>;
		resets = <&rstc RST_CARD_CTL1>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdcard_pins>;
		cd-gpios = <&pctl 62 GPIO_ACTIVE_LOW>;
		bus-width = <4>;
		max-frequency = <52000000>;
		disable-wp;
		cap-sd-highspeed;
		no-sdio;
		no-mmc;
	};

	sdio: sdio@0xf8008400 {
		compatible = "sunplus,q645-sdio";
		reg = < 0x0 0xf8008400 0x0 0x180>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc CARD_CTL2>;
		resets = <&rstc RST_CARD_CTL2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdio_pins>;
		bus-width = <4>;
		max-frequency = <52000000>;
		non-removable;
		disable-wp;
		cap-sd-highspeed;
		cap-sdio-irq;
		no-sd;
		no-mmc;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";
	};

	ehci0: usb@0xf8102100 {
		compatible = "sunplus,q645-usb-ehci0";
		clocks = <&clkc USBC0>;
		resets = <&rstc RST_USBC0>;
		reg = <0x00 0xf8102100 0x00 0x68>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 183 IRQ_TYPE_LEVEL_HIGH>;
	};

	ohci0: usb@0xf8102080 {
		compatible = "sunplus,q645-usb-ohci0";
		clocks = <&clkc USBC0>;
		resets = <&rstc RST_USBC0>;
		reg = <0x00 0xf8102080 0x00 0x68>, <0x00 0xf8000000 0x00 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 184 IRQ_TYPE_LEVEL_HIGH>;
	};

	usbdrd3_0: usb@0xf80a1000{
		compatible = "sunplus,q645-dwcusb3";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		status = "disabled";

		usbdrd_dwc3_0: dwc3 {
			compatible = "synopsys,dwc3";
			reg = <0x0 0xf80a1000 0x0 0xe000>;
			clocks = <&clkc USB30C0>, <&clkc USB30C0>, <&clkc USB30C0>;
			clock-names = "ref","bus_early","suspend";
			resets = <&rstc RST_USB30C0>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 180 IRQ_TYPE_LEVEL_HIGH>;
			maximum-speed = "super-speed";
			dr_mode = "host";
			snps,dis_u2_susphy_quirk;
			//phy_type = "utmi_wide";
			status = "disabled";
		};
	};

	u3phy0: uphy@0xf80bd000 {
		compatible = "sunplus,q645-usb3-phy";
		clocks = <&clkc U3PHY0>;
		clock-names = "clkc_u3phy";
		resets = <&rstc RST_U3PHY0>;
		reset-names = "rstc_u3phy";
		reg = <0x0 0xf80bd000 0x0 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 191 IRQ_TYPE_LEVEL_HIGH>;
		status = "disabled";
	};

	usbdrd3_1: usb@0xf80af000 {
		compatible = "sunplus,q645-dwcusb3";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		status = "disabled";

		usbdrd_dwc3_1: dwc3 {
			compatible = "synopsys,dwc3";
			reg = <0x0 0xf80af000 0x0 0xe000>;
			clocks = <&clkc USB30C1>, <&clkc USB30C1>, <&clkc USB30C1>;
			clock-names = "ref","bus_early","suspend";
			resets = <&rstc RST_USB30C1>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 179 IRQ_TYPE_LEVEL_HIGH>;
			maximum-speed = "super-speed";
			dr_mode = "host";
			snps,dis_u2_susphy_quirk;
			//phy_type = "utmi_wide";
			status = "disabled";
		};
	};

	u3phy1: uphy@0xf80be000 {
		compatible = "sunplus,q645-usb3-phy";
		clocks = <&clkc U3PHY1>;
		clock-names = "clkc_u3phy";
		resets = <&rstc RST_U3PHY1>;
		reset-names = "rstc_u3phy";
		reg = <0x0 0xf80be000 0x0 0x80>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 192 IRQ_TYPE_LEVEL_HIGH>;
		status = "disabled";
	};

	mipicsi0: mipicsirx@0xf8005280 {
		compatible = "sunplus,sp7021-mipicsi-rx";
		reg = <0xf8005280 0x80>, <0xf8005300 0x80>;
		reg-names = "mipicsi", "csiiw";
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 80 IRQ_TYPE_EDGE_RISING>,
			     <GIC_SPI 81 IRQ_TYPE_EDGE_RISING>;
		clocks = <&clkc MIPICSI0>, <&clkc CSIIW0>;
		clock-names = "clk_mipicsi", "clk_csiiw";
		resets = <&rstc RST_MIPICSI0>, <&rstc RST_CSIIW0>;
		reset-names = "rstc_mipicsi", "rstc_csiiw";
		i2c-id = <2>;
		status = "disabled";
	};

	mipicsi1: mipicsirx@0xf8005380 {
		compatible = "sunplus,sp7021-mipicsi-rx";
		reg = <0xf8005380 0x80>, <0xf8005400 0x80>;
		reg-names = "mipicsi", "csiiw";
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 82 IRQ_TYPE_EDGE_RISING>,
			     <GIC_SPI 83 IRQ_TYPE_EDGE_RISING>;
		clocks = <&clkc MIPICSI1>, <&clkc CSIIW1>;
		clock-names = "clk_mipicsi", "clk_csiiw";
		resets = <&rstc RST_MIPICSI1>, <&rstc RST_CSIIW1>;
		reset-names = "rstc_mipicsi", "rstc_csiiw";
		i2c-id = <3>;
		status = "disabled";
	};

	mipicsi2: mipicsirx@0xf8005480 {
		compatible = "sunplus,sp7021-mipicsi-rx";
		reg = <0xf8005480 0x80>, <0xf8005500 0x80>;
		reg-names = "mipicsi", "csiiw";
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 84 IRQ_TYPE_EDGE_RISING>,
			     <GIC_SPI 85 IRQ_TYPE_EDGE_RISING>;
		clocks = <&clkc MIPICSI2>, <&clkc CSIIW2>;
		clock-names = "clk_mipicsi", "clk_csiiw";
		resets = <&rstc RST_MIPICSI2>, <&rstc RST_CSIIW2>;
		reset-names = "rstc_mipicsi", "rstc_csiiw";
		i2c-id = <4>;
		status = "disabled";
	};

	mipicsi3: mipicsirx@0xf8005580 {
		compatible = "sunplus,sp7021-mipicsi-rx";
		reg = <0xf8005580 0x80>, <0xf8005600 0x80>;
		reg-names = "mipicsi", "csiiw";
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 86 IRQ_TYPE_EDGE_RISING>,
			     <GIC_SPI 87 IRQ_TYPE_EDGE_RISING>;
		clocks = <&clkc MIPICSI3>, <&clkc CSIIW3>;
		clock-names = "clk_mipicsi", "clk_csiiw";
		resets = <&rstc RST_MIPICSI3>, <&rstc RST_CSIIW3>;
		reset-names = "rstc_mipicsi", "rstc_csiiw";
		i2c-id = <5>;
		status = "disabled";
	};

	video_codec_dec: hantro_vc8000d@0xf8168000 {
		compatible = "sunplus,q645-hantro-vc8000d";
		reg = <0x00 0xf8168000 0x00 0xfff>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 167 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc VCD>;
		clock-names = "clk_vc8000d";
		resets = <&rstc RST_VCD>;
	};

	video_codec_enc: hantro_vc8000e@0xf80ff000 {
		compatible = "sunplus,q645-hantro-vc8000e";
		reg = <0x00 0xf80ff000 0x00 0xfff>;
		interrupt-parent = <&gic>;
		interrupts = <GIC_SPI 77 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkc VCE>;
		clock-names = "clk_vc8000e";
		resets = <&rstc RST_VCE>;
	};

	video_codec_emem {
		compatible = "sunplus,q645-hantro-emem";
		memory-region = <&video_codec_reserve>;
	};


	poweroff {
		compatible = "sunplus,sp-poweroff";
	};

#if 0
	ipc_test: ipc_test@0xf8007f80 {
		compatible = "sunplus,q645-ipc-test";
		reg = <0x0 0xf8007f80 0x0 0x100>; /* G255 ~ G256 */
		interrupt-parent = <&gic>;
		interrupts =
			<GIC_SPI 9 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CM4 CPU2_DIRECT_INT0 */
			<GIC_SPI 10 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CM4 CPU2_DIRECT_INT1 */
			<GIC_SPI 13 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CM4 CPU2_DIRECT_INT2 */
			<GIC_SPI 14 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CM4 CPU2_DIRECT_INT3 */
			<GIC_SPI 25 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CM4 CPU2_DIRECT_INT4 */
			<GIC_SPI 26 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CM4 CPU2_DIRECT_INT5 */
			<GIC_SPI 78 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CM4 CPU2_DIRECT_INT6 */
			<GIC_SPI 79 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CM4 CPU2_DIRECT_INT7 */
			<GIC_SPI 118 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CA55 CPU0_DIRECT_INT0 */
			<GIC_SPI 119 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CA55 CPU0_DIRECT_INT1 */
			<GIC_SPI 120 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CA55 CPU0_DIRECT_INT2 */
			<GIC_SPI 121 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CA55 CPU0_DIRECT_INT3 */
			<GIC_SPI 122 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CA55 CPU0_DIRECT_INT4 */
			<GIC_SPI 123 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CA55 CPU0_DIRECT_INT5 */
			<GIC_SPI 124 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CA55 CPU0_DIRECT_INT6 */
			/*<GIC_SPI 125 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CA55 CPU0_DIRECT_INT7 */
			<GIC_SPI 126 IRQ_TYPE_EDGE_RISING>, /* MAILBOX_to_CA55 CPU0_INT */
			<GIC_SPI 127 IRQ_TYPE_EDGE_RISING>; /* MAILBOX_to_CM4 CPU1_INT */
	};
#endif


	pctl: pctl@0xf8000100 {
		compatible = "sunplus,q645-pctl";
		reg = <0x0 0xf8000100 0x0 0x100>,
		      <0x0 0xf8000280 0x0 0x180>,
		      <0x0 0xf80032e4 0x0 0x1c>,
		      <0x0 0xf8000080 0x0 0x20>;
		gpio-controller;
		#gpio-cells = <2>;

		uart0_pins: pinmux_uart0_pins {
			sppctl,function = "UART0";
			sppctl,groups = "UART0";
		};

		uart1_pins: pinmux_uart1_pins {
			sppctl,function = "UART1";
			sppctl,groups = "UART1";
		};

		uart2_pins: pinmux_uart2_pins {
			sppctl,function = "UART2";
			sppctl,groups = "UART2";
		};

		uart3_pins: pinmux_uart3_pins {
			sppctl,function = "UART3";
			sppctl,groups = "UART3";
		};

		uart4_pins: pinmux_uart4_pins {
			sppctl,function = "UART4";
			sppctl,groups = "UART4";
		};

		uadbg_pins: pinmux_uadbg_pins {
			sppctl,function = "UADBG";
			sppctl,groups = "UADBG";
		};

		uart6_pins: pinmux_uart6_pins {
			sppctl,function = "UART6";
			sppctl,groups = "UART6";
		};

		uart7_pins: pinmux_uart7_pins {
			sppctl,function = "UART7";
			sppctl,groups = "UART7";
		};

		uart8_pins: pinmux_uart8_pins {
			sppctl,function = "UART8";
			sppctl,groups = "UART8";
		};

		emmc_pins: pinmux_emmc_pins {
			sppctl,function = "CARD0_EMMC";
			sppctl,groups = "CARD0_EMMC";
		};

		sdcard_pins: pinmux_sdcard_pins {
			sppctl,function = "SD_CARD";
			sppctl,groups = "SD_CARD";
			sppctl,pins = <SPPCTL_IOPAD(62,SPPCTL_PCTL_G_GPIO,0,0) >;
		};

		sdio_pins: pinmux_sdio_pins {
			sppctl,function = "SDIO";
			sppctl,groups = "SDIO";
		};

		spi_nor_pins: pinmux_spi_nor_pins {
			sppctl,function = "SPI_FLASH";
			sppctl,groups = "SPI_FLASH";
		};

		spi_nand_pins: pinmux_spi_nand_pins {
			sppctl,function = "SPI_NAND";
			sppctl,groups = "SPI_NAND1";
		};

		spim0_pins: pinmux_spim0_pins {
			sppctl,function = "SPI_MASTER0";
			sppctl,groups = "SPI_MASTER0";
		};
		spis0_pins: pinmux_spis0_pins {
			sppctl,function = "SPI_SLAVE0";
			sppctl,groups = "SPI_SLAVE0";
		};
		spim1_pins: pinmux_spim1_pins {
			sppctl,function = "SPI_MASTER1";
			sppctl,groups = "SPI_MASTER1";
		};
		spis1_pins: pinmux_spis1_pins {
			sppctl,function = "SPI_SLAVE1";
			sppctl,groups = "SPI_SLAVE1";
		};
		spim2_pins: pinmux_spim2_pins {
			sppctl,function = "SPI_MASTER2";
			sppctl,groups = "SPI_MASTER2";
		};
		spis2_pins: pinmux_spis2_pins {
			sppctl,function = "SPI_SLAVE2";
			sppctl,groups = "SPI_SLAVE2";
		};
		spim3_pins: pinmux_spim3_pins {
			sppctl,function = "SPI_MASTER3";
			sppctl,groups = "SPI_MASTER3";
		};
		spis3_pins: pinmux_spis3_pins {
			sppctl,function = "SPI_SLAVE3";
			sppctl,groups = "SPI_SLAVE3";
		};
		spim4_pins: pinmux_spim4_pins {
			sppctl,function = "SPI_MASTER4";
			sppctl,groups = "SPI_MASTER4";
		};
		spis4_pins: pinmux_spis4_pins {
			sppctl,function = "SPI_SLAVE4";
			sppctl,groups = "SPI_SLAVE4";
		};
		spim5_pins: pinmux_spim5_pins {
			sppctl,function = "SPI_MASTER5";
			sppctl,groups = "SPI_MASTER5";
		};
		spis5_pins: pinmux_spis5_pins {
			sppctl,function = "SPI_SLAVE5";
			sppctl,groups = "SPI_SLAVE5";
		};

		i2cm0_pins: pinmux_i2cm0_pins {
			sppctl,function = "I2C_MASTER0";
			sppctl,groups = "I2C_MASTER0";
		};
		i2cm1_pins: pinmux_i2cm1_pins {
			sppctl,function = "I2C_MASTER1";
			sppctl,groups = "I2C_MASTER1";
		};
		i2cm2_pins: pinmux_i2cm2_pins {
			sppctl,function = "I2C_MASTER2";
			sppctl,groups = "I2C_MASTER2";
		};
		i2cm3_pins: pinmux_i2cm3_pins {
			sppctl,function = "I2C_MASTER3";
			sppctl,groups = "I2C_MASTER3";
		};
		i2cm4_pins: pinmux_i2cm4_pins {
			sppctl,function = "I2C_MASTER4";
			sppctl,groups = "I2C_MASTER4";
		};
		i2cm5_pins: pinmux_i2cm5_pins {
			sppctl,function = "I2C_MASTER5";
			sppctl,groups = "I2C_MASTER5";
		};

		pwm_pins: pinmux_pwm_pins {
			sppctl,function = "PWM";
			sppctl,groups = "PWM";
		};

		aud_dac_clk_pins: pinmux_aud_dac_clk_pins {
			sppctl,function = "AUD_DAC_CLK";
			sppctl,groups = "AUD_DAC_CLK";
		};
		aud_tdmtx_xck_pins: pinmux_aud_tdmtx_xck_pins {
			sppctl,function = "AUD_TDMTX_XCK";
			sppctl,groups = "AUD_TDMTX_XCK";
		};
		aud_au2_data0_pins: pinmux_aud_au2_data0_pins {
			sppctl,function = "AUD_AU2_DATA0";
			sppctl,groups = "AUD_AU2_DATA0";
		};
		aud_au1_data0_pins: pinmux_aud_au1_data0_pins {
			sppctl,function = "AUD_AU1_DATA0";
			sppctl,groups = "AUD_AU1_DATA0";
		};
		aud_au2_ck_pins: pinmux_aud_au2_ck_pins {
			sppctl,function = "AUD_AU2_CK";
			sppctl,groups = "AUD_AU2_CK";
		};
		aud_au1_ck_pins: pinmux_aud_au1_ck_pins {
			sppctl,function = "AUD_AU1_CK";
			sppctl,groups = "AUD_AU1_CK";
		};
		aud_au_adc_data0_pins: pinmux_aud_au_adc_data0_pins {
			sppctl,function = "AUD_AU_ADC_DATA0";
			sppctl,groups = "AUD_AU_ADC_DATA0";
		};
		aud_adc2_data0_pins: pinmux_aud_adc2_data0_pins {
			sppctl,function = "AUD_ADC2_DATA0";
			sppctl,groups = "AUD_ADC2_DATA0";
		};
		aud_adc1_data0_pins: pinmux_aud_adc1_data0_pins {
			sppctl,function = "AUD_ADC1_DATA0";
			sppctl,groups = "AUD_ADC1_DATA0";
		};
		aud_aud_tdm_pins: pinmux_aud_aud_tdm_pins {
			sppctl,function = "AUD_AUD_TDM";
			sppctl,groups = "AUD_AUD_TDM";
		};
		spdif_in_pins: pinmux_spdif_in_pins {
			sppctl,function = "SPDIF_IN";
			sppctl,groups = "SPDIF_IN_X1";
		};
		spdif_out_pins: pinmux_spdif_out_pins {
			sppctl,function = "SPDIF_OUT";
			sppctl,groups = "SPDIF_OUT_X1";
		};

		gpio_int0_pins: pinmux_gpio_int0_pins {
			sppctl,function = "INT0";
			sppctl,groups = "INT0_X1";
		};
		gpio_int1_pins: pinmux_gpio_int1_pins {
			sppctl,function = "INT1";
			sppctl,groups = "INT1_X1";
		};
		gpio_int2_pins: pinmux_gpio_int2_pins {
			sppctl,function = "INT2";
			sppctl,groups = "INT2_X1";
		};
		gpio_int3_pins: pinmux_gpio_int3_pins {
			sppctl,function = "INT3";
			sppctl,groups = "INT3_X1";
		};
		gpio_int4_pins: pinmux_gpio_int4_pins {
			sppctl,function = "INT4";
			sppctl,groups = "INT4_X1";
		};
		gpio_int5_pins: pinmux_gpio_int5_pins {
			sppctl,function = "INT5";
			sppctl,groups = "INT5_X1";
		};
		gpio_int6_pins: pinmux_gpio_int6_pins {
			sppctl,function = "INT6";
			sppctl,groups = "INT6_X1";
		};
		gpio_int7_pins: pinmux_gpio_int7_pins {
			sppctl,function = "INT7";
			sppctl,groups = "INT7_X1";
		};
	};
};
