config FB_SC7021
	bool "SC7021 Graphics Backend framebuffer support"
	depends on FB && ARCH_PENTAGRAM && (SP_DISP_SC7021_TEST=y)
	help
	  This is the frame buffer device driver for the SC7021 Graphics
	  hardware.

config FB_SC7021_DEBUG
	bool "External Debug support"
	depends on FB_SC7021
	help
	  Say Y here, if you want to have debug support.
