#
# CBDMA subsystem configuration
#

menu "Sunplus CB-DMA"

config SUNPLUS_CBDMA
	tristate "Sunplus SP7021 CB-DMA driver support"
	depends on SOC_SP7021
	help
	  Enable support for the Sunplus CB-DMA (CBUS DMA) controller.
	  This DMA engine is found on Sunplus SP7021 SoC. This DMA
	  engine is very flexible. It has an SRAM buffer which can be
	  used as a CBUS master storage device.

config SUNPLUS_CBDMA_Q645
	tristate "Sunplus Q645 CB-DMA driver support"
	depends on SOC_Q645
	help
	  Enable support for the Sunplus CB-DMA (CBUS DMA) controller.
	  This DMA engine is found on Sunplus Q645 SoC. This DMA engine
	  is very flexible. It has an SRAM buffer which can be used as a
	  CBUS master storage device.

endmenu
